/* .title1{
    color:blueviolet;
    font-size: 30px;
    font-style: italic;
}
.title2{
    color:rgb(177, 144, 209);
    font-size: 40px;
    font-style: italic;
}
#description{
    color: aqua;
} */

.box{
    width: 400px;
    /* height: 400px; */
    border: 2px solid gray;
    text-align: center;
    padding: 20px;
    /* margin: 50px; */
    /* margin: 50px 100px; */
    margin-top: 50px;
    margin-left: 50px;
}

.blockToIn1{
    display: inline;
    color: rgba(95, 44, 44, 0.7);
}
.blockToIn2{
    display: inline;
    color: rgb(26, 83, 12);
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

}
