
{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super }}
{% load crispy_forms_tags %}



<div class="container">
    <h1 class="text-center pb-3"> This is inside first app  django Form  </h1>
    {% comment %} {{data}} {% endcomment %}
    {% if data %}
        {% for st in data %}
        {% comment %} {{data}} {% endcomment %}
        {{st}}
        {% endfor %}

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Roll</th>
                <th scope="col">Student Name</th>
                <th scope="col">Father's Name </th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              
                {% for st in data %}
                <tr>
                <td>{{st.roll}}</td>
                <td>{{st.name}}</td>
                <td>{{st.father_name}}</td>
                <td>{{st.address}}</td>
                <td><a class=" btn btn-danger " href ="{% url 'delete_student' st.roll%}"> Delete</a></td>
                </tr>
                {% endfor %}
              
              
            </tbody>
          </table>

    {% else %}
        <h1 class="text-center pb-3"> NO data available to show  </h1>

    {% endif %}




    <form method='post'  style="width: 50%; height: 500px; margin:auto" class="pt-5" enctype = 'multipart/form-data'>
        {% csrf_token %}
        {{form | crispy}}

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    
</div>




{% endblock %}
