{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} {{ block.super }} {% endcomment %}


<form method='post' style="width: 50%; margin : auto">
    <h1>Update Your Profile </h1>
    <a class="btn btn-warning mb-5" href="{% url 'pass_change' %}">Change Your password </a>
    <a class="btn btn-warning mb-5 ms-2" href="{% url 'pass_change2' %}">Change Your password without old pass </a>
    {% csrf_token %}
    {{form | crispy }}
    <button class='btn btn-warning mb-5'>Edit</button>
</form>

{% endblock %}