{% extends "base.html" %}

{% block content %}
{{block.super}}


<h6 class="text-center"> This is Home page</h6>

<h3 class="text-center pt-3"> Album Table</h3>
 <div class="d-flex flex-wrap justify-content-center  container ">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for album in data  %}             
            <tr>
              <td>{{album.id}}</td>
              <td> <a href="{% url 'edit_musician' album.musician.id %}" >{{album.musician.First_Name}} {{album.musician.Last_Name}}</a></td>
              <td>{{album.musician.Email}}</td>
              <td>{{album.rating}}</td>
              <td>{{album.musician.Instrument_Type}}</td>
              <td>{{album.Album_Name}}</td>
              <td>{{album.release_date}}</td>
              <td>
                  
                   <a href="{% url 'edit_album' album.id %}" class="btn btn-warning">Edit</a>
                  <a href="{% url 'delete_album' album.id %}" class="btn btn-danger">Detete</a> 
              </td>
            </tr>
          {% endfor %}
          

         


        </tbody>
      </table>

      <h3 class="text-center mt-3"> Musician Table</h3>
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Instrument Type</th>
            
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for musician in data1  %}             
            <tr>
              <td>{{musician.id}}</td>
              <td> <a href="{% url 'edit_musician' musician.id %}" >{{musician.First_Name}} {{musician.Last_Name}}</a></td>
              <td>{{musician.Email}}</td>
              
              <td>{{musician.Instrument_Type}}</td>
              
              <td>
                  
                   <a href="{% url 'edit_musician' musician.id %}" class="btn btn-warning">Edit</a>
                  {% comment %} <a href="{% url 'delete_musician' musician.id %}" class="btn btn-danger">Detete</a>  {% endcomment %}
              </td>
            </tr>
          {% endfor %}
          

         


        </tbody>
      </table>
      
     
  </div> 

{% endblock %}