.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid gray;
}
.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

input{
    padding: 10px;
    width: 400px;
}
.user{
    padding: 20px;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 5px;
}
.userContainer{
    display: flex;
    justify-content: center;
}