
.rating-icon{
    width: 20px;
}
#floatnews{
    margin-left: 450px;
}
#cardover{
    padding-top:100px ;
    padding-right: 50px;
    padding-left: 4cqw;
    /* opacity: .5; */
}
#cardover1{
    padding-top:250px ;
    /* padding-right: 400px; */
    /* opacity: .9; */
}
.btnover{
    margin-top: -10px;
}
.Productdet{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.Productdet div{
    display: flex;
    justify-content: start;
    gap: 10px;

}
#star{
    width: 35px;
}
#cart{
    width: 30px;
}

.footer-content{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    background-color: #333;
    color: white;
    padding: 50px 10%;
}

.footer-col {
    width: 30%;
}

.footer-col h3 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col p {
    color: #bbb;
}
.address{
    display: flex;
    justify-content:left;
    margin-left: -60px;
    margin-bottom: 15px;
}


.addditails{
    margin-left: 50px;
}