<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>outdated</title>
    </head>
    <body>
        
        <h1>get session Page</h1>
        <h1>session is getting...</h1>
        <h3>{{name}}</h3>
        <h3>{{age}}</h3>
        
        <h1><a href="{% url 'del_session' %}">delete session</a> </h1>
       
        
        
       
    </body>
</html>