{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}Car Gallery{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Car gallery</h1>
        <p class="leading-normal mb-4">
            Hi this is a  Car Gallery BD. 
            Car Gallery BD is one of the first and leading companies in the automobile business world of Bangladesh. It was established in 1991. It is importing and whole selling brand new, re-conditioned luxurious and Best quality cars, microbus, SUVs, and other cars. It is providing most brand new cars at a reasonable price and starts an unbreakable relationship with buyers.

        </p>
        <div class="flex justify-end w-full">
            <a href="{% url 'register' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center ">
        <img class ="rounded-2xl" src ="{% static './img/car1.jpg' %}"/>
    </div>
</div>

{% endblock %}