<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> <a href="/"> home page </a></h1>
        <h1> <a href="/first_app/"> firstapp home page </a></h1>
        <h1> <a href="/first_app/about/"> about page from app </a></h1>
        <h1> <a href="/first_app/contact/"> contact page from app </a></h1>

        <h1> Hello i am inside first app home page</h1>


        
        <script src="" async defer></script>
    </body>
</html>