{% extends "base.html" %}

{% block content %}
{{block.super}}



{% load crispy_forms_tags %}
<form method="post" style="width:50%; margin:auto" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <p class=" bg-danger text-white p-3 ">{{er}}</p>
        {% endfor %}
        {% endif %}

        <h2 class="text-center"> Change Password page</h2>
        {% comment %} {{form | crispy }}  {% endcomment %}
        {% for fm in form %}
        {{fm.label_tag}}<br/>
        {{fm}}
        <p class=" text-danger text-white p-3 ">{{fm.errors | striptags }}</p>
        
       
        {% endfor %} 
        <br/>
        <button class="btn btn-warning" type="submit">Change Password</button>

     
       
</form>

     

{% endblock %}