asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
filelock
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
python-dotenv
sqlparse
typing_extensions
tzdata
virtualenv



