{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="col-12 mt-3">
        <div  class=" ">
            <div class="  bg-info mx-1 mb-3 border rounded-4 d-flex flex-wrap px-5 py-4 align-items-center ">
                <div class="col-4 ">
                    <img src="{{post.image.url}}" class="card-img-top rounded-2 mb-2 " alt="..." >
                </div>
                <div class="col-8 ">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content }}</p>
                    <p >Author: {{post.author.first_name}} {{post.author.last_name}}</p>
                    <p >Category: 
                    {% for cat in post.category.all %}
                    <button class="btn btn-primary btn-sm m-1">{{cat.name}}</button>
                    {% endfor %}
                    </p>
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="card m-2">
        <h3 class="p3 m-3">Total Comments : {{comments| length}}</h3>

            
        {% for comment in comments %}
        <div class="card-body border rounded-4 m-2">
            <h4><b>{{comment.name}} </b>    <small> {{comment.created_on}} </small> </h4>
            <small>{{comment.created_on}} </small>
            <p>{{comment.body}} </p>
        
        </div>
        {% endfor %}
            
        
    </div>
    <div class="card my-3">
        <div class="card-body">
            <form method='post' style="width: 50%; margin : auto">
                <h1>Add Comment </h1>
                {% csrf_token %}
                {{comment_form | crispy }}
                <button class='btn btn-warning'>Submit</button>
            </form>
        </div>
      </div>
{% endblock %}