{% extends "base.html" %}
{% load static%}
{% block content %}
{{block.super}}

<div class="d-flex flex-wrap px-5 pb-2 align-items-center w-75 m-auto">
    <div class="col-5">
        <h1 class=""> Welcome to <b>Car Gallery</b></h1>
        <h6 class=""> Car Gallery BD is one of the first and leading companies in the automobile business world of Bangladesh. It was established in 1991. It is importing and whole selling brand new, re-conditioned luxurious and Best quality cars, microbus, SUVs, and other cars. It is providing most brand new cars at a reasonable price and starts an unbreakable relationship with buyers.</h6>
    </div>
    <div class="col-7">
        <img style="padding-left: 0px; width:750px" class="mt-2 rounded-3" src="{% static 'car1.jpg' %}"/>
    </div>
</div>


<div style="background-color: black" class="d-flex flex-wrap px-5  pt-3 border border-5 rounded-4 border-dark p-2 mb-5">
    <div style="background-color: gray" class="col-12 border border-5 rounded-4 border-dark p-5">
        <h2 class="text-center">Click The button for Brand wise Filter</h2>
        <hr/ class="w-80 bg-black m-auto ">
        <br/>
        <div class="d-flex justify-content-center gap-3">
        {% for cat in brand %}
            <div class="form-check ">
                {% comment %} <input class="form-check-input" type="radio" name="brand" id="{{cat.id}}">
                <label class="form-check-label" for="{{cat.id}}"> {% endcomment %}
                
                <a class="btn btn-info my-1 pt-2" href="{% url 'brand_wise_car' cat.slug %}"><h5>{{cat.name}}</h5></a>
                {% comment %} </label> {% endcomment %}
            </div>
        {% endfor %}
        </div>
          
    </div>
    <div  style="background-color: gray" class="col-12 border border-5 rounded-4 border-dark pt-3">
        <h2 class="text-center"> {{data | length}} Results Found</h2>
        <hr/ class="w-50 bg-black m-auto ">
        <div class="d-flex flex-wrap justify-content-center  pt-3">

            {% for car in data %}
                <div  class="col-sm-3 ">
                    
                    
                            <div class=" card card-body bg-info mx-1 mb-3 border rounded-4">
                                <a href="{% url 'detail_car' car.id %}" class="text-decoration-none text-dark">
                                {% comment %} <img src="{{car.image.url}}" class="card-img-top rounded-2 mb-2" alt="..."> {% endcomment %}
                                {% if car.image %}
                                <img src="{{ car.image.url }}" class="card-img-top rounded-2 mb-2" alt="Car Image">
                                {% else %}
                                <img src="{% static 'car.png' %}" class="card-img-top rounded-2 mb-2" alt="Default Image">
                                {% endif %}
                                </a>  
                                <h5 class="card-title"><a href="{% url 'detail_car' car.id %}" class="text-decoration-none text-dark">{{car.title}}</a></h5>
                                <p class="card-text">{{car.content |truncatewords:10}}</p>
                                <h6 >Brand Name:  {{car.brand.name}}</h6> 
                                </h6 >Model:  {{car.title}}</>
                                <h6 >Price:  {{car.Price}} Taka</h6>
                                <a href="{% url 'detail_car' car.id %}"class="text-decoration-none btn btn-dark w-50 m-auto"> View Details</a> 
                                
                            </div>
                    
                    
                </div>
            {% endfor %}
          </div>
    </div>

</div>


{% endblock %}